<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <form action="/" method="post">
    <div><font color="white">{{error}}</font></div>
    <div class="container">
        <table border="0" align="center" cellpadding="15px" cellspacing="1px">
            <tr><td align="center" colspan="3"><h1>LOGIN</h1></td></tr>
            <tr>
                <td align="center">GMAIL</td>
                <td>:</td>
                <td align="left"><input type="email" name="email" required></td>
            </tr>
            <tr>
                <td>PASSWORD</td>
                <td>:</td>
                <td align="left"><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><button type="submit">LOGIN</button></td>
            </tr>
            <tr>
                <td colspan="3"><p>You don't have an account? <a href="/signup" style="text-decoration:none;">Sign up</a></p></td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
